@import url("https://fonts.googleapis.com/css2?family=BioRhyme:wght@400;700&family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

.evento {
  width: 313.54px;
  font-family: roboto;
  font-weight: bold;
  display: inline-block;
  border-radius: 8px;
  margin-top: 88px;
  cursor: pointer;
  transition: all ease 0.2s;
}

.evento:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.evento img {
  width: 100%;
  border-radius: 8px;
}

.evento .data {
  display: inline-block;
  margin-top: 21px;
  color: var(--main-purple);
  font-size: 1.125rem;
}

.evento .titulo {
  display: block;
  margin-top: 7px;
  font-size: 1.125rem;
}

.evento .local {
  display: inline-block;
  font-weight: normal;
  font-size: 1rem;
}

.evento .info {
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 24px;
}

.evento .link,
.evento .link:focus,
.evento .link:hover,
.evento .link:visited,
.evento .link:link,
.evento .link:active {
  text-decoration: none;
  color: black;
}
