@import url("https://fonts.googleapis.com/css2?family=BioRhyme:wght@400;700&family=Roboto:wght@400;700&display=swap");

#maisVendidos {
  margin-top: 32px;
  margin-left: auto;
  margin-right: auto;
  font-family: roboto;
  font-weight: bold;
  font-size: 22px;
  max-width: 1050px;
}

#maisVendidos > h1 {
  margin-bottom: -56px;
}

.meio {
  margin-left: 54px;
  margin-right: 54px;
}

#novidades {
  margin-top: 64px;
  margin-left: auto;
  margin-right: auto;
  font-family: roboto;
  font-weight: bold;
  font-size: 22px;
  max-width: 1050px;
}

#novidades > h1 {
  margin-bottom: -56px;
}

.carrosselContainer {
  width: 80.5vw;
  max-width: 1200px;
  height: 285px;
  margin-top: 64px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 150px;
}

.carrosselContainer h2 {
  font-family: roboto;
  font-weight: bold;
  font-size: 26px;
  margin-bottom: 32px;
}
