@import url("https://fonts.googleapis.com/css2?family=BioRhyme:wght@400;700&family=Roboto:wght@400;700&display=swap");
* {
  text-overflow: ellipsis;
  box-sizing: border-box;
}
:root {
  --light: #ebebeb;
  --dark: #a0a0a0;
}
.frame {
  color: #000;
  width: 100%;
  height: 100%;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 60px;
  padding-right: 60px;
  font-family: Roboto;
  font-size: 2.75rem;
  font-weight: 400;
  line-height: 52px;
  display: flex;
}
.botoes_nome_foto {
  color: #000;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 60px;
  padding-right: 60px;
  font-family: Roboto;
  font-size: 2.75rem;
  font-weight: 400;
  line-height: 52px;
  display: flex;
}
.nome_usuario {
  font-family: Roboto;
  font-size: 2.188rem;
  text-align: center;
  margin-bottom: 20px;
}
.perfil {
  width: 237px;
  height: 237px;
  object-fit: cover;
  background-position: center;
  background-size: cover;
  margin-bottom: 96px;
}
.editar-perfil {
  margin-top: 60px;
  text-align: center;
  font-size: 2.7rem;
}
.desejo-receber-notif {
  align-self: flex-end;
  margin-left: 40px;
}
.checksize {
  transform: scale(2);
  padding: 30px;
}
