@import url('https://fonts.googleapis.com/css2?family=BioRhyme:wght@400;700&family=Roboto:wght@400;700&display=swap');

.CatalogoEventos {
  margin-top: 32px;
  margin-left: auto;
  margin-right: auto;
  font-family: roboto;
  font-weight: bold;
  font-size: 22px;
  max-width: 1050px;
}

.CatalogoEventos > h2 {
  margin-bottom: -56px;
  font-size: 26px;
}

.CatalogoEventos .cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}