@import url("https://fonts.googleapis.com/css2?family=BioRhyme:wght@400;700&family=Roboto:wght@400;700&display=swap");

header > #logo {
  text-decoration: none;
  display: inline-block;
  font-family: BioRhyme;
  color: white;
  font-size: 30pt;
  vertical-align: auto;
}

header > #searchBar {
  position: relative;
  display: inline-flex;
  margin-left: 10px;
}

header > #searchBar > input {
  position: inherit;
  width: 42vw;
  height: 51px;
  padding-left: 20px;
  border-radius: 15px;
}

@media (max-width: 1000px) {
  header > #searchBar > input {
    width: 34vw;
  }
}

header > #searchBar > .searchIcon {
  position: absolute;
  font-size: 30pt;
  right: 1%;
  top: 50%;
  transform: translateY(-50%);
}

header > #searchBar > ::placeholder {
  font-family: roboto;
  color: #7a7a7a;
  font-size: 18pt;
}
