header {
  position: relative;
  background-color: #820AD1;
  width: 100%;
  height: 14vh;
  filter: drop-shadow(0px 7.07px 7.07px #00000050);
}

header>#logo {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  display: inline-block;
  font-family: BioRhyme;
  color: white;
  font-size: 30pt;
  margin-left: 2vw;
  vertical-align: auto;
}

header>#searchBar {
  position: relative;
  display: inline-flex;
  margin-left: 25vw;
  top: 27%;
}

header>#searchBar>input {
  position: inherit;
  width: 42vw;
  height: 51px;
  padding-left: 20px;
  border-radius: 15px;
}

header>#searchBar>.searchIcon {
  position: absolute;
  font-size: 30pt;
  right: 1%;
  top: 50%;
  transform: translateY(-50%);
}

header>#searchBar> ::placeholder {
  font-family: roboto;
  color: #7a7a7a;
  font-size: 18pt;
}

.accessibilityIcon {
  position: absolute;
  right: 12%;
  top: 50%;
  transform: translateY(-50%);
  background-color: white;
  border-radius: 50%;
  color: #820AD1;
  padding: 4pt;

}

.carrinho {
  position: absolute;
  right: 7%;
  top: 50%;
  transform: translateY(-50%);
  color: white;
}

.login {
  position: absolute;
  right: 2%;
  top: 50%;
  transform: translateY(-50%);
  color: white;
}