@import url('https://fonts.googleapis.com/css2?family=BioRhyme:wght@400;700&family=Roboto:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
}
.termos {
  align-self: flex-end;
  margin-left: 40px;
}

.checksize{
transform: scale(2);
padding: 30px;
}