.Pagamento .itens {
  max-width: 1200px;
  width: 80vw;
  margin: 0 auto;
}

.Pagamento .total {
  font-family: Roboto;
  font-weight: bold;
  font-size: 2rem;
  margin-top: auto;
  margin-bottom: 16px;
}

.Pagamento .formaPagamento {
  max-width: 1200px;
  width: 80vw;
  margin: 0 auto; 
}

input[type="radio"] {
  display: none;
}

label.box {
  background: white;
  margin-top: 12px;
  padding: 10px 12px;
  display: flex;
  border-radius: 5px;
  border: 2px solid rgba(0, 0, 0, 0.432);
  cursor: pointer;
  transition: all 0.25s ease;
  max-width: 300px;
  min-width: 150px;
}

#pix:checked~label.first,
#boleto:checked~label.second,
#cartao:checked~label.third {
  border-color: var(--main-purple);
  border-width: 2px;
}

#pix:checked~label.first .circle,
#boleto:checked~label.second .circle,
#cartao:checked~label.third .circle {
  border-color: var(--main-purple);
  background: #fff;
}

label.box .metodoText {
  display: flex;
  width: 100%;
  align-items: center;
}

label.box .circle {
  height: 22px;
  width: 22px;
  background: #ccc;
  border: 5px solid transparent;
  display: inline-block;
  margin-right: 15px;
  border-radius: 50%;
  transition: all 0.25s ease;
  box-shadow: inset -4px -4px 10px rgba(0, 0, 0, 0.2);
}

.link,
.link :focus,
.link:hover,
.link:visited,
.link:link,
.link:active {
  text-decoration: none;
  color: white;
}


.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.radioPagamento {
  margin-bottom: 16px;
  display: inline-block;
  min-width: 300px;
}