@import url("https://fonts.googleapis.com/css2?family=BioRhyme:wght@400;700&family=Roboto:wght@400;700&display=swap");

.Categoria {
  display: inline-block;
  margin-left: 16px;
  margin-right: 16px;
  width: 150px;
  cursor: pointer;
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
}

.Categoria img {
  border-radius: 50%;
  width: 150px;
  transition: all ease 0.5s;
}

.Categoria img {
  transform: scale(0.9);
}

.Categoria img:hover {
  transform: scale(1);
}
