@import url("https://fonts.googleapis.com/css2?family=BioRhyme:wght@400;700&family=Roboto:wght@400;700&display=swap");

html {
  font-family: roboto;
  font-size: 16px;
}

h2 {
  font-size: 1.75rem;
}

.bio-rhyme {
  font-family: BioRhyme;
}
