@import url("https://fonts.googleapis.com/css2?family=BioRhyme:wght@400;700&family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

.up {
  margin-top: 64px;
  max-width: 1200px;
  width: 80.5vw;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.up img {
  max-width: 100%;
  border-radius: 8pt;
}

#imgContainer {
  width: 600px;
}

#descricao {
  margin-top: 64px;
  max-width: 1200px;
  width: 80.5vw;
  margin-left: auto;
  margin-right: auto;
}

#descricao p {
  margin-top: 1em;
  margin-bottom: 1em;
}

.link,
.link :focus,
.link:hover,
.link:visited,
.link:link,
.link:active {
  text-decoration: none;
  color: white;
}
